<!DOCTYPE html>
<html th:replace="~{/baseLayout :: baseLayout(~{::title}, ~{::section}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정</title>
    <!--  TOAST UI Editor CSS -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>

<body>
<section>

    <!-- 글 수정 -->
    <div class="container">
        <form th:object="${postUpdateDTO}" th:action="@{/posts/{postId}/edit(postId = *{postId})}" method="post" enctype="multipart/form-data">
            <!-- 제목 -->
            <div class="input-group mb-3">
                <span class="input-group-text">제목</span>
                <input th:field="*{title}" type="text" class="form-control"/>
            </div>
            <div th:errors="*{title}" class="text-danger text-center">에러 메시지</div>
            <input class="mb-3" th:field="*{uploadFiles}" type="file" multiple>

            <ul class="list-group me-auto col-sm-5 col-md-4 mb-1">
                <li th:each="uploadFile : ${uploadFiles}" class="list-group-item d-flex justify-content-between">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span class="me-auto overflow-hidden" th:text="${uploadFile.originalFileName}"></span>
                    <button type="button" class="btn-close" th:id="${uploadFile.id}" onclick="uploadFileDelete(this)"></button>
                </li>
            </ul>

            <!-- 본문 -->
            <div id="editor"></div>

            <div class="d-flex">
                <button class="btn btn-md btn-primary ms-auto my-3" type="button" onclick="submitPost(this)">수정 완료
                </button>
                <a class="btn btn-md btn-outline-secondary ms-2 my-3" th:href="|/posts/${postUpdateDTO.postId}|">취소</a>
            </div>
            <input th:field="*{content}" type="hidden" name="content" id="content">
        </form>
    </div>

    <!--  TOAST UI Editor CDN  -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- 한국어 패치 -->
    <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
    <!--  SweetAlert2  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:inline="javascript">
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '500px',
            initialEditType: 'WYSIWYG',
            previewStyle: 'vertical',
            language: "ko-KR",
            hooks: {
            addImageBlobHook: function(imageFile, editorCallback) {
                    console.log(imageFile);
                    let formData = new FormData();
                    formData.append("image", imageFile);

                    imageUploadAjax(formData, editorCallback);
                }
            }
        });
        editor.setHTML([[${postUpdateDTO.content}]]);

        function imageUploadAjax(formData, editorCallback) {
            let request = new XMLHttpRequest();

            request.onload = () => {
                editorCallback(request.responseText, "image");
            };

            request.open("POST", "/files/images/new");
            request.send(formData);
        }

        // 파일 삭제
        function uploadFileDelete(button) {
            let uploadFileId = button.id;
            let form = button.closest("form");
            let li = button.closest("li");

            let input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "deleteFileIds");
            input.setAttribute("value", uploadFileId);

            form.appendChild(input);
            li.remove();
        }

        // form 제출
        function submitPost(button) {
            let form = button.closest('form');
            let inputs = form.getElementsByTagName('input');
            for (let input of inputs) {
                if(input.name === 'content') {
                    input.value = editor.getHTML();
                }
            }
            if (validatePost(form)) {
                form.submit();
            };
        }

        // form 유효성 검증
        function validatePost(form) {
            let title = form.querySelector('#title').value.trim();
            let content = stripHtmlAndTrim(form.querySelector('#content').value);
            if (title == '') {
                Swal.fire('제목을 입력해주세요');
                return false;
            } else if (content == '') {
                Swal.fire('내용을 입력해주세요');
                return false;
            }

            return true;
        }

        function stripHtmlAndTrim(str) {
            return str.replace(/<\/?[^>]+(>|$)/g, "").trim();
        }
    </script>

</section>
</body>

</html>