<!DOCTYPE html>
<html th:replace="~{/baseLayout :: baseLayout(~{::title}, ~{::section}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성</title>

    <!--  TOAST UI Editor CSS -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>

<body>
<section>

    <!-- 글 등록 -->
    <div class="container">
        <form th:object="${postForm}" action="/posts/new" method="post" enctype="multipart/form-data">
            <!-- 제목 -->
            <div class="input-group mb-3">
                <span class="input-group-text">제목</span>
                <input th:field="*{title}" type="text" class="form-control"/>
            </div>
            <div th:errors="*{title}" class="text-danger text-center">에러 메시지</div>

            <input class="mb-3" type="file" name="uploadFiles" id="uploadFiles" multiple>

            <!-- 본문 -->
            <div id="editor"></div>
            <div class="d-flex">
                <button type="button" class="btn btn-md btn-primary ms-auto my-3" onclick="submitPost(this)">글 등록
                </button>
                <a class="btn btn-md btn-outline-secondary ms-2 my-3" href="/posts" value="취소">취소</a>
            </div>
            <input th:field="*{content}" type="hidden" name="content" id="content">
            <input th:field="*{parentTreePath}" type="hidden" name="parentTreePath" id="parentTreePath">
        </form>
    </div>

    <!--  TOAST UI Editor CDN  -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- 한국어 패치 -->
    <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
    <!--  SweetAlert2  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:inline="javascript">
    const Editor = toastui.Editor;
    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '500px',
        initialEditType: 'WYSIWYG',
        previewStyle: 'vertical',
        language: "ko-KR",
        hooks: {
            addImageBlobHook: function(imageFile, editorCallback) {
                console.log(imageFile);
                let formData = new FormData();
                formData.append("image", imageFile);

                imageUploadAjax(formData, editorCallback);
            }
        }
    });

    function imageUploadAjax(formData, editorCallback) {
        let request = new XMLHttpRequest();

        request.onload = () => {
            editorCallback(request.responseText, "image");
        };

        request.open("POST", "/files/images/new");
        request.send(formData);
    }


    function submitPost(button) {
        let form = button.closest('form');
        let inputs = form.getElementsByTagName('input');
        for (let input of inputs) {
            if(input.name === 'content') {
                input.value = editor.getHTML();
            }
        }
        if (validatePost(form)) {
            form.submit();
        };
    }

    function validatePost(form) {
        let title = form.querySelector('#title').value.trim();
        let content = stripHtmlAndTrim(form.querySelector('#content').value);
        if (title == '') {
            Swal.fire('제목을 입력해주세요');
            return false;
        } else if (content == '') {
            Swal.fire('내용을 입력해주세요');
            return false;
        }

        return true;
    }

    function stripHtmlAndTrim(str) {
        return str.replace(/<\/?[^>]+(>|$)/g, "").trim();
    }
    </script>
</section>
</body>

</html>