<!DOCTYPE html>
<html th:replace="~{/baseLayout :: baseLayout(~{::title}, ~{::section}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>

    <!--  TOAST UI Editor Viewer CSS -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css"/>
</head>

<body>
<section>

    <!-- 게시글 정보 -->
    <div class="container">
        <div class="row">
            <h2 class="h2 " th:text="${post.title}">글 제목</h2>
        </div>
        <div class="row text-end border-bottom mb-3 p-2 d-flex align-items-center">
            <p class="text-start col-md-10 col-sm-12 m-0">
                글번호: <span th:text="${post.id}">10</span>
                | 작성자: <span th:text="${post.user.name}">운영자</span>
                | 게시일: <span th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd HH:mm:ss')}">2023.03.13</span>
                | 조회수: <span th:text="${post.view}">12</span>
            </p>
            <div class="col-md-2 col-sm-12">
                <div class="row">
                    <a th:if="${loginUser.id == post.user.id}" th:href="@{/posts/{postId}/edit(postId = ${post.id})}"
                       class="col-md-6 col-sm-6 text-end fw-semibold">수정</a>
                    <a th:if="${loginUser.id == post.user.id or loginUser.role.name() == 'ADMIN'}"
                       th:href="@{/posts/{postId}/delete(postId = ${post.id})}"
                       class="col-md-6 col-sm-6 text-end fw-semibold">삭제</a>
                </div>
            </div>
        </div>

        <!-- 첨부파일 목록 -->
        <div th:if="${post.uploadFiles.size() > 0}" class="row ms-1">
            <ul class="list-group me-auto col-sm-5 col-md-4 mb-3">
                <li th:each="uploadFile : ${post.uploadFiles}" class="list-group-item">
                    <a th:href="|/files/attachment/${uploadFile.id}|" class="d-flex justify-content-between text-decoration-none text-black">
                        <i class="bi bi-file-earmark me-2"></i>
                        <span class="me-auto link-primary overflow-hidden" th:text="${uploadFile.originalFileName}">첨부파일 이름</span>
                        <small th:text="${uploadFile.size}" class="text-muted ms-2">3MB</small>
                    </a>
                </li>
            </ul>
        </div>
        <!-- TOAST UI EDITOR 뷰어 -->
        <div id="viewer" class="p-2"></div>

    </div>

    <!-- 목록으로 버튼 -->
    <div class="container d-flex">
        <a class="btn btn-outline-primary ms-auto mt-2 fw-bold"
           th:href="@{/posts?currentPage={currentPage}(currentPage=${currentPage})}">목록으로</a>
    </div>


    <!-- 댓글 -->
    <div class="container">
        <!-- 댓글 등록 -->
        <form th:action="@{/posts/{postId}/comments/add(postId = ${post.id})}" method="post">
            <textarea class="form-control w-100 mt-3" style="resize: none;" name="content" rows="3"
                      placeholder="댓글을 입력해주세요"></textarea>
            <div class="d-flex">
                <button type="button" onclick="submitComment(this)"
                        class="btn btn-sm btn-primary ms-auto my-3 fw-bold"/>
                댓글 등록</button>
            </div>
            <input type="hidden" name="userId" th:value="${post.user.id}"/>
            <input type="hidden" name="postId" th:value="${post.id}"/>
        </form>

        <!-- 댓글 목록 -->
        <ul class="list-group list-group-flush mb-3">
            <li class="row border-bottom my-2" th:each="commentListDTO : ${commentListDTOs}">
                <span class="col-6 col-md-2 fw-bold text-center" th:text="${commentListDTO.userName}">작성자</span>

                <span class="col-6 col-md-3 text-center text-secondary fw-normal fs-6"
                      th:text="${commentListDTO.formattedRegDate}">2023-03-14 18:52:00</span>

                <button th:if="${commentListDTO.userId == loginUser.id}"
                        th:onclick="|editComment(this, ${commentListDTO.commentId})|"
                        class="col-6 btn btn-sm col-md-1 ms-md-auto text-center comment-button">수정
                </button>

                <button th:if="${commentListDTO.userId == loginUser.id or loginUser.role.name() == 'ADMIN'}"
                        th:classappend="${commentListDTO.userId != loginUser.id and loginUser.role.name() == 'ADMIN'} ? ms-auto : _"
                        th:onclick="|location='@{/posts/{postId}/comments/{commentId}/delete
                            (postId = ${post.id}, commentId = ${commentListDTO.commentId})}'|"
                        class="col-6 btn btn-sm col-md-1 text-center comment-button">삭제
                </button>

                <p th:text="${commentListDTO.content}" id="comment" style="white-space: pre-wrap">댓글 내용</p>
            </li>
        </ul>

    </div>

    <!-- 댓글 수정 템플릿 -->
    <template>
        <form class="input-group row mb-2 m-auto" method="post">
            <textarea class="col-10" type="text" name="content" lass="form-control" rows="3" style="resize: none"
                      aria-label="Recipient's username with two button addons"></textarea>
            <button class="btn btn-outline-secondary col-1" type="button" onclick="submitComment(this)">완료</button>
            <button class="btn btn-outline-danger col-1" type="button" onclick="cancelEdit(this)">취소</button>
            <input type="hidden" name="commentId"/>
        </form>
    </template>

    <!-- Toast Editor Viewer CDN -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
    <!--  SweetAlert2  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:inline="javascript">
        // 댓글 작성 및 수정
        function submitComment(button) {
            let form = button.closest('form');
            if (validateComment(form)) {
                form.submit();
            };
        }

        // 댓글 수정
        function editComment(button, commentId) {
            let parent = button.closest('li');
            let prevComment = parent.querySelector('#comment');
            let prevContent = prevComment.innerText;
            prevComment.style.display = 'none';


            let form = document.getElementsByTagName('template')[0].content.cloneNode(true).firstElementChild;
            let editingComment = form.getElementsByTagName('textarea')[0];
            editingComment.innerText = prevContent;

            let hiddenInput = form.getElementsByTagName('input')[0];
            hiddenInput.value = commentId;

            form.action = '/posts/[[${postId}]]/comments/' + commentId + '/edit';

            parent.appendChild(form);

            let commentButtons = document.getElementsByClassName('comment-button');
            for (let button of commentButtons) {
                button.style.pointerEvents = 'none';
            }
        }

        // 댓글 수정 취소
        function cancelEdit(button) {
            let li = button.closest('li');
            li.getElementsByTagName('p')[0].style.display = '';
            li.getElementsByTagName('form')[0].remove();

            let commentButtons = document.getElementsByClassName('comment-button');
            for (let button of commentButtons) {
                button.style.pointerEvents = '';
            }
        }

        // Toast UI Editor viewer
        const viewer = new toastui.Editor({
            el: document.querySelector('#viewer'),
            height: 'auto',
            height: 'auto',
            initialValue: [[${post.content}]]
        });

        // 댓글 유효성 검증
        function validateComment(form) {
            let comment = form.getElementsByTagName('textarea')[0];
            let content = stripHtmlAndTrim(comment.value);

            if (content == '') {
                Swal.fire('내용을 입력해주세요');
                return false;
            }

            return true;
        }

        function stripHtmlAndTrim(str) {
            return str.replace(/<\/?[^>]+(>|$)/g, "").trim();
        }




    </script>

</section>


</body>

</html>