<!DOCTYPE html>
<html th:replace="~{/baseLayout :: baseLayout(~{::title}, ~{::section}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정</title>
    <!--  TOAST UI Editor CSS -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>

<body>
<section>

    <!-- 글 수정 -->
    <div class="container">
        <form th:action="@{/posts/{postId}/edit(postId = ${post.id})}" method="post">
            <!-- 제목 -->
            <div class="input-group mb-3">
                <span class="input-group-text">제목</span>
                <input th:value="${post.title}" name="title" id="title" type="text" class="form-control" aria-label="title input"/>
            </div>

            <!-- 본문 -->
            <div id="editor"></div>

            <div class="d-flex">
                <button class="btn btn-md btn-primary ms-auto my-3" type="button" onclick="submitPost(this)">수정 완료
                </button>
                <a class="btn btn-md btn-outline-secondary ms-2 my-3" href="/posts">취소</a>
            </div>
            <input type="hidden" name="content" id="content">
            <input type="hidden" name="userId" id="userId" value="1"/> <!-- TODO - 유저 권한 기능 추가 후 변경 -->
        </form>
    </div>

    <!--  TOAST UI Editor CDN  -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- 한국어 패치 -->
    <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
    <!--  SweetAlert2  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:inline="javascript">
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '500px',
            initialEditType: 'WYSIWYG',
            previewStyle: 'vertical',
            language: "ko-KR"
        });
        editor.setHTML([[${post.content}]]);


        function submitPost(button) {
            let form = button.closest('form');
            let inputs = form.getElementsByTagName('input');
            for (let input of inputs) {
                if(input.name === 'content') {
                    input.value = editor.getHTML();
                }
            }
            if (validatePost(form)) {
                form.submit();
            };
        }

        function validatePost(form) {
            let title = form.querySelector('#title').value.trim();
            let content = stripHtmlAndTrim(form.querySelector('#content').value);
            if (title == '') {
                Swal.fire('제목을 입력해주세요');
                return false;
            } else if (content == '') {
                Swal.fire('내용을 입력해주세요');
                return false;
            }

            return true;
        }

        function stripHtmlAndTrim(str) {
            return str.replace(/<\/?[^>]+(>|$)/g, "").trim();
        }
    </script>

</section>
</body>

</html>