<!DOCTYPE html>
<html th:replace="~{/baseLayout :: baseLayout(~{::title}, ~{::section}, ~{::link})}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link>
</head>

<body>
    <section>
        <form th:action method="post" class="container login"
              th:object="${loginForm}">


            <div class="row d-flex flex-column justify-content-between align-items-center gap-4">
                <h4 class="h1 text-center">로그인</h4>

                <th:block th:if="${#fields.hasGlobalErrors()}">
                    <div th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="alert alert-danger mb-0" role="alert">
                        에러 메시지
                    </div>
                </th:block>

                <div class="input-group input-group-lg p-0">
                    <span class="input-group-text w-25 fs-6">아이디</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                            th:field="*{loginId}">
                </div>

                <div class="input-group input-group-lg p-0">
                    <span class="input-group-text w-25 fs-6">비밀번호</span>
                    <input type="password" class="form-control" aria-label="Sizing example input"
                            th:field="*{password}">
                </div>

                <button type="submit" class="btn btn-primary btn-lg">로그인</button>
                <a type="button" class="btn btn-outline-secondary btn-lg" href="/users/new">회원가입</a>
            </div>

        </form>
    </section>
</body>

</html>