<!DOCTYPE html>
<html th:fragment="baseLayout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:replace="${title}">레이아웃 타이틀</title>

    <!-- 공통 -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <style>
        tr {
            height: 55px;
        }
    </style>
</head>
<body>

    <!-- NavBar -->
    <div class="container col-md-12 mb-4">
        <nav class="navbar d-flex border-bottom">
            <a class="navbar-brand h1 my-auto" href="/">
                <img src="/assets/spring.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                Spring Forum
            </a>
            <button type="button" class="btn btn-outline-primary btn ms-auto">로그인</button>
            <button type="button" class="btn btn-primary btn ms-2">회원가입</button>
        </nav>
    </div>

    <div th:replace="${content}">
        레이아웃 본문
    </div>

    <!-- Footer -->
    <footer class="container mt-5 border-top p-3 text-center text-lg-start">
        <div class="row d-flex align-items-center">

            <div class="col-md-7 col-lg-8 text-center text-md-start">
                © 2023 Copyright:
                <a class="text-dark" href="https://gyuray.dev/">gyuray.dev</a>
            </div>

            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <a href="https://gyurey.dev" class="btn btn-outline-dark btn-floating m-1" role="button">
                    <i class="bi bi-cup-hot fs-5"></i>
                </a>
                <a href="https://github.com/gyuray-dev" class="btn btn-outline-dark btn-floating m-1" role="button">
                    <i class="bi bi-github fs-5"></i>
                </a>
                <a href="https://www.instagram.com/ooggyoo/" class="btn btn-outline-dark btn-floating m-1"
                   role="button">
                    <i class="bi bi-instagram fs-5"></i>
                </a>
            </div>

        </div>
    </footer>

    <!-- 공통 -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
</body>
</html>